.section-contato {
  padding: 70px 0;
  text-align: center;
  h2 {
    text-align: center;
    margin-bottom: 60px;
  }
  form {
    margin: 0 auto;
    display: grid;
    grid-template-areas: "nome email" "titulo titulo" "mensagem mensagem";
    grid-gap: 20px;
    max-width: 500px;
    #nome {
      grid-area: nome;
    }
    #email {
      grid-area: email;
    }
    #assunto {
      grid-area: titulo;
    }
    #mensagem {
      grid-area: mensagem;
    }
    #submit {
      @include btn-amarelo;
    }
    @include d(mobile) {
      max-width: 320px;
      width: 360px;
      input {
        width: 100%;
      }
      #submit {
        position: relative;
        bottom: 0px;
        right: 0px;
        margin-left: auto;
        grid-column: 1 / -1;
      }
    }
  }
}
