.entrada {
  color: $branco;
  font-size: 14px;
  height: 100vh;
  min-height: 500px;
  .container-entrada {
    max-width: 990px;
    margin: 0 auto;
    padding: 40px 15px;
    height: 100%;
  }
  .titulo {
    position: relative;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      max-width: 200px;
      display: block;
      margin-left: auto;
      position: relative;
      top: 50px;
      right: -50px;
    }
    h1 {
      text-transform: uppercase;
      font-size: 90px;
      position: relative;
      z-index: 2;
      width: -moz-fit-content;
      width: -webkit-fit-content;
      width: fit-content;
      text-align: center;
      display: flex;
      align-items: center;
      text-shadow: 6px 6px 30px rgba(0, 0, 0, 0.4);

      &:after {
        content: "";
        width: 280px;
        height: 280px;
        border-radius: 50%;
        border: 6px solid $secundaria;
        display: block;
        position: absolute;
        right: -80px;
        bottom: -20px;
        z-index: -1;
        @include d(medio) {
          width: 260px;
          height: 260px;
          right: -60px;
        }
      }
    }
  }
  .dados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      @include btn-amarelo;
    }
    span {
      flex: 1;
    }
    span:nth-of-type(2) {
      text-align: center;
    }
    span:nth-of-type(3) {
      text-align: right;
    }
  }
  @include d(tablet) {
    margin-top: 80px;
    height: calc(100vh - 80px);
    .titulo {
      h1 {
        font-size: 60px;
        &:after {
          width: 180px;
          height: 180px;
          display: block;
          right: -30px;
        }
      }
    }
  }
  @include d(mobile) {
    .titulo {
      h1 {
        font-size: 36px;
        &:after {
          width: 120px;
          height: 120px;
          display: block;
          right: -30px;
          top: -10px;
        }
      }
      p {
        max-width: 150px;
        right: -30px;
      }
    }
    span:nth-of-type(2) {
      display: none;
    }
  }
}

.cafe-imgs {
  position: relative;
  .cafe-img {
    position: absolute;
    -webkit-filter: brightness(0.96) contrast(0.85) grayscale(1);
    filter: brightness(0.96) contrast(0.85) grayscale(1);
  }
  .cafe-img:nth-of-type(1) {
    width: 260px;
    bottom: -80px;
    left: -60px;
    @include d(tablet) {
      width: 180px;
      bottom: -70px;
      left: -40px;
    }
    @include d(mobile) {
      width: 120px;
      bottom: -40px;
      left: -10px;
    }
  }
  .cafe-img:nth-of-type(2) {
    width: 180px;
    bottom: 50px;
    left: -10px;
    z-index: 5;
    @include d(tablet) {
      width: 120px;
      bottom: 40px;
      left: 0px;
    }
    @include d(mobile) {
      width: 90px;
      bottom: 30px;
      left: 10px;
    }
  }
  .cafe-img:nth-of-type(3) {
    width: 320px;
    top: 50px;
    left: -80px;
    @include d(tablet) {
      width: 230px;
      left: -70px;
    }
    @include d(mobile) {
      width: 160px;
      left: -20px;
      top: 20px;
    }
  }

  .cafe-img:nth-of-type(4) {
    width: 200px;
    top: -50px;
    left: 0px;
    @include d(tablet) {
      width: 150px;
      left: 10px;
    }
    @include d(mobile) {
      width: 100px;
      top: -35px;
      left: 20px;
    }
  }

  .cafe-img:nth-of-type(5) {
    width: 65px;
    top: -80px;
    left: -70px;
    @include d(tablet) {
      width: 50px;
      left: -60px;
      top: -70px;
    }
    @include d(mobile) {
      width: 30px;
      left: -20px;
      top: -50px;
    }
  }
}
