footer {
  padding: calc((100% - 990px) / 2);
  padding-top: 50px;
  padding-bottom: 0;
  color: $branco;
  background: $preto;
  border-top: 2px solid $cinza;
  position: relative;
  overflow: hidden;
  .container-footer {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "menu contato promos" "copy copy copy";
    h3 {
      margin-bottom: 20px;
      font-size: 16px;
      padding-left: 5px;
    }
    .menu-footer {
      nav {
        a {
          display: block;
          padding: 5px;
          font-size: 14px;
        }
        a + a {
          margin-top: 10px;
        }
      }
    }
    .contato-footer {
      justify-self: center;
      p {
        padding: 5px;
        font-size: 14px;
      }
      p + p {
        margin-top: 10px;
      }
    }
    .assine-footer {
      text-align: right;
      #assine {
        width: 100%;
      }
      #assinar {
        @include btn-amarelo;
        margin-top: 10px;
      }
    }
    .copyright {
      grid-area: copy;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      padding: 20px 5px;
      margin-top: 30px;
      border-top: 2px solid $cinza;
    }
  }
  @include d(mobile) {
    .container-footer {
      grid-template-columns: auto;
      grid-template-areas: "menu" "contato" "promos" "copy";
      justify-content: center;
      text-align: center;
      grid-gap: 50px;

      .assine-footer {
        text-align: center;
        #assinar {
          display: inline-block;
          width: 35px;
          height: 35px;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}
