header {
  background: $secundaria;
  color: $preto;
  position: fixed;
  height: 100vh;
  z-index: 9999;
  padding-top: 40px;
  padding-bottom: 40px;
  .header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        padding: 20px 30px;
        width: 100%;
        text-align: center;
        height: -moz-fit-content;
        height: -webkit-fit-content;
        height: fit-content;
        font-weight: 600;
        font-size: 14px;
        transition: all 0.2s ease;
        &::after {
          content: "";
        }
        &:hover {
          background: $preto;
          color: $secundaria;
        }
      }
    }
  }
  .logo {
    filter: brightness(20%);
    img {
      width: 90px;
      @include d(tablet) {
        width: 70px;
      }
    }
  }
  .redes-sociais {
    img {
      width: 19px;
      margin: 3px;
    }
  }
  .btn-mobile {
    display: none;
  }
  @include d(tablet) {
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    .header-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      nav {
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        a {
          padding: 20px 15px;
          width: -moz-fit-content;
          width: -webkit-fit-content;
          width: fit-content;
          height: 100%;
          &:hover {
            background: $preto;
            color: $secundaria;
          }
        }
      }
    }
  }
  @include d(mobile) {
    .header-div {
      nav {
        display: none;
      }
      .redes-sociais {
        order: -1;
        flex: 1;
      }
      .logo {
        flex: 1;
        img {
          margin: 0 auto;
        }
      }
      .btn-mobile {
        flex: 1;
        text-align: right;
        display: block;
        button {
          background: transparent;
          border: 0;
          cursor: pointer;
        }
      }
    }
  }
}

.js-menu-mobile.ativo {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 80px;
  background: $secundaria;
  width: 100%;
  height: calc(100vh - 80px);
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    width: 100%;
    text-align: center;
    flex: 1;
  }
}
