.section-loja {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  overflow-x: hidden;
  ul li {
    list-style: none;
    padding: 20px 0;
    color: $branco;
    position: relative;
    white-space: nowrap;
    &:before {
      content: "●";
      color: $secundaria;
      position: absolute;
      font-size: 14px;
      left: -20px;
      top: 22px;
    }
  }

  .col1-loja {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
  }
  .col2-loja {
    max-width: 450px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: contrast(75%);
    }
    &::before {
      @include circulo(100px, 100px);
      bottom: -40px;
      left: -40px;
    }
  }
  @include d(mobile) {
    flex-direction: column;
    .col1-loja {
      order: -1;
      margin-left: 0;
      margin-bottom: 70px;
    }
    .col2-loja {
      min-width: 100%;
      height: 250px;
      margin-top: 70px;
    }
  }
}
