* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: inherit;
  display: inline-block;
}

input,
textarea {
  padding: 15px;
  margin: 0;
  font-family: inherit;
  color: $branco;
  border: 2px solid $cinza2;
  background: transparent;
  outline: none;
  border-radius: 3px;
  font-size: 18px;
  box-shadow: 0px 0px 60px 3px rgba(0, 0, 0, 0.85);
}

label {
  visibility: hidden;
  position: absolute;
}

img {
  display: block;
}

::selection {
  background: hsla(44, 52%, 56%, 0.5);
  color: $secundaria;
}

h1,
h2 {
  color: $titulos;
}

p {
  color: $branco;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $cinza2;
}

::-webkit-scrollbar-thumb {
  background: $secundaria;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b39647;
}
