.produtos {
  position: relative;
  z-index: 2;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .col1-produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col2-produtos {
    max-width: 350px;
    margin-left: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: contrast(85%);
    }
  }
  @include d(mobile) {
    flex-direction: column;
    .col2-produtos {
      margin-left: 0;
      min-width: 100%;
      height: 250px;
      margin-top: 70px;
    }
  }
}

.card-cafe {
  margin-right: auto;
  min-width: 400px;
  @include mini-container;
  img {
    width: 130px;
    position: absolute;
    left: -10px;
    top: -20px;
  }
  h3 {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .conteudo-card {
    padding: 10px 20px 20px 130px;
  }
  .preco {
    padding-top: 10px;
    text-align: right;
    color: $secundaria;
    font-weight: 600;
    font-size: 18px;
  }
  @include d(mobile) {
    min-width: 300px;
    text-align: center;
    img {
      width: 150px;
      position: absolute;
      left: calc(50% - 75px);
      top: -45px;
    }
    h3 {
      text-align: center;
    }
    .conteudo-card {
      padding: 120px 20px 20px 20px;
    }
    .preco {
      text-align: center;
    }
  }
}

.btns-cards {
  margin-top: 10px;
  margin-right: auto;
  border: 2px solid $cinza;
  order: 2;

  button {
    background: transparent;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.2s ease;
    border: none;
    padding: 5px 20px;
    color: $secundaria;
    &:hover {
      background: $cinza;
    }
  }
  @include d(mobile) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.titulos {
  margin-bottom: 50px;
  h2 {
    text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.35);
  }
  a {
    color: hsla(40, 8%, 69%, 0.6);
    font-size: 14px;
    margin-top: 5px;
    transition: all 0.5s ease;
    &:hover {
      color: hsla(40, 8%, 69%, 1);
    }
  }
}
