body {
  font-family: "Montserrat", sans-serif;
  @include d(mobile) {
    grid-template-columns: auto;
  }
}

main {
  margin-left: 123px;
  background: $preto;
  background-image: url("../../checkered-pattern.png");
  @include d(tablet) {
    margin-left: 0px;
  }
}

.container-sections {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.background-escuro {
  background: radial-gradient(50% 83.2% at 50% 16%, #323232 0%, $preto 100%);
}

.background-medio {
  background: $preto;
}
