body {
  font-family: "Montserrat", sans-serif;
  @include d(mobile) {
    grid-template-columns: auto;
  }
}

main {
  margin-left: 123px;
  @include d(tablet) {
    margin-left: 0px;
  }
}

.background-escuro {
  background: radial-gradient(50% 83.2% at 50% 16%, #323232 0%, $preto 100%);
}

.background-medio {
  background: $preto;
}
