// cores e fontes

$preto: #141414;
$cinza: #222225;
$cinza2: #363636;
$titulos: #d2cabc;
$branco: #b6b2aa;
$secundaria: #dbba5f;

/* responsivo */

@mixin d($device) {
  @if $device == mobile {
    @media (max-width: 650px) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: 950px) {
      @content;
    }
  } @else if $device == medio {
    @media (max-width: 1150px) {
      @content;
    }
  }
}
