@import "../VarMixins.scss";

.header {
  position: absolute;
  width: calc(100% - 14rem);
  right: 0;
  top: 2rem;
  padding: 0 1rem;
  nav,
  ul {
    display: flex;
    align-items: center;
    height: 4rem;
  }
  ul {
    color: $c-txt-2;
    margin: 0 auto;
    li + li {
      margin-left: 3rem;
    }
    a {
      transition: 0.1s;
    }
    .active,
    a:hover {
      color: $c-txt;
    }
  }
  .logo {
    @include fontTitles(m);
  }
}

@media (max-width: 1350px) {
  .header {
    width: calc(100% - 11rem);
  }
}

@media (max-width: 1200px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 1005px) {
  .header {
    padding: 0;
  }
}
