@import "../VarMixins.scss";

.home {
  display: flex;
  .coffee-shop {
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: 100vh;
    .coffee {
      background: $c-s-1;
      color: $c-s-2;
      padding: 1rem;
      flex: 6;
      word-wrap: break-word;
      line-height: 100%;
      text-align: center;
      @include fontTitles(10rem);
      span {
        width: 5rem;
        display: inline-block;
        text-align: center;
      }
    }
    .shop {
      background: $c-s-2;
      color: $c-s-1;
      padding: 2rem;
      flex: 1;
      display: grid;
      place-items: center;
      @include fontTitles(6rem);
    }
  }
  .home-content {
    flex: 1;
    background: url("../../assets/coffee-grain.png"),
      url("../../assets/coffee-grain-2.png"),
      url("../../assets/coffee-grain.png");
    background-repeat: no-repeat;
    background-position: 50% -10%, -5% 50%, 90% 110%;
    padding: 0 1rem;
  }
  .container {
    padding-top: 6rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .content {
    padding: 6rem 0 2rem 0;
    margin: auto 0;
  }

  h1 {
    @include fontTitles(4.5rem);
    line-height: 125%;
    span {
      color: $c-s-2;
    }
  }
  .list-values {
    display: flex;
    li + li {
      margin-left: 5rem;
    }
    li {
      position: relative;
    }
    li:nth-of-type(1)::before {
      @include balls($c-s-1);
    }
    li:nth-of-type(2)::before {
      @include balls($c-s-2);
    }
    li:nth-of-type(3)::before {
      @include balls($c-s-3);
    }
    span {
      display: block;
      margin-bottom: 0.5rem;
      @include fontTitles(m);
    }
    p {
      color: $c-txt-2;
      max-width: 8rem;
    }
  }
  .flex-2 {
    align-items: flex-end;
  }
}

@media (max-width: 1350px) {
  .home {
    .coffee-shop {
      width: 11rem;
      .coffee {
        @include fontTitles(7rem);
        span {
          width: 4rem;
        }
      }
      .shop {
        padding: 1rem;
        @include fontTitles(5rem);
      }
    }
  }
}

@media (max-width: 1200px) {
  .home {
    .coffee-shop {
      display: none;
    }
  }
}

@media (max-width: 1005px) {
  .home {
    h1 {
      @include fontTitles(3.7rem);
      line-height: 125%;
    }
    .home-content {
      padding: 0;
    }
  }
}
