@import "../VarMixins.scss";

.subscribe {
  background: url("../../assets/coffee-grain.png");
  background-repeat: no-repeat;
  background-position: 10% 115%;
  .container {
    display: flex;
    align-items: center;
  }
  .h2 {
    max-width: 30rem;
  }
  .h2::before {
    @include numberH2(4);
  }
  form {
    display: flex;
    align-items: stretch;
    height: min-content;
    margin-left: 3rem;
    label {
      visibility: hidden;
      position: absolute;
    }
    input {
      background: $c-bg-3;
      margin-right: 1rem;
      border-radius: $radius;
      padding: 1rem;
      width: 20rem;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
    }
  }
}

@media (max-width: 910px) {
  .subscribe {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
    form {
      margin-left: 0;
      margin-top: 2rem;
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .subscribe {
    form {
      flex-direction: column;
      align-items: flex-start;
      input {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
